name: Publish
on:
  push:
    tags: ['v*']
jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    uses: treno-dev/steward-gh-actions/.github/workflows/publish-plugin.yml@v1
    with:
      pluginId: '[[.PluginID]]'
