{
  "name": "[[.Name]]",
  "version": "0.1.0",
  "private": true,
  "description": "[[.Title]] plugin for Steward",
  "type": "module",
  "main": "src/plugin.js",
  "scripts": {
    "start": "node src/plugin.js"
  },
  "dependencies": {
    "@steward/plugin": "[[.SDK]]"
  }
}
